alias ls='ls --color=auto -FG'
alias chromed="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9222"

alias firefox="/Applications/Firefox\ Developer\ Edition.app/Contents/MacOS/firefox"

alias cleanupDS="find . -type f -name '*.DS_Store' -ls -delete"

# opens current directory in MacOS Finder
alias f='open -a Finder ./'

alias c=clear
alias u=cd ~/
alias o=pwd
